* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}
*:focus {
    outline: none;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

body {
    /* https://eleme.github.io/element-react/#/zh-CN/typography */
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;

    color: #000;
}

iframe {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
}

table {
    width: 100%;
    height: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 0;
}